<a href="#" class="list-group-item">
    <h3 class="list-group-item-heading">{{beds}} Bedrooms, {{baths}} Bath</h3>
    <div class="row">
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Address:</b> {{address}}</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Rent amount:</b> {{rent}}</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Security Deposit:</b> {{deposit}}</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Non-refundable fees:</b> {{fee}}</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Room for:</b> {{tenants}}</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Starting:</b> N/A</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Description:</b> {{description}}</p>
        </div>
        <div class="col-md-6">
            <p class="list-group-item-text">
                <b>Time to closest bus station:</b> {{bus_time}}</p>
        </div>
    </div>
</a>