<div id="content" class="container">
    <div class="row">
        {{#if file}} 
        <div class="col-sm-4">
            <img src="{{file}}"\>
        </div>
        {{/if}}
        <div {{#if file}}class="col-sm-4"{{else}} class="col-sm-12"{{/if}}>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{address}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Rent</th>
                        <td>{{rent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Deposit</th>
                        <td>{{deposit}}</td>
                    </tr>
                    {{#if description}}
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{description}}</td>
                    </tr>
                    {{/if}}
                    {{#if bus_time}}
                    <tr>
                        <th scope="row">Bus Time</th>
                        <td>{{bus_time}}</td>
                    </tr>
                    {{/if}}
                    {{#if baths}}
                    <tr>
                        <th scope="row">Baths</th>
                        <td>{{baths}}</td>
                    </tr>
                    {{/if}}
                    {{#if beds}}
                     <tr>
                        <th scope="row">Beds</th>
                        <td>{{beds}}</td>
                    </tr>
                    {{/if}}
                    {{#if distance}}
                    <tr>
                        <th scope="row">Distance</th>
                        <td>{{distance}}</td>
                    </tr>
                    {{/if}}
                    {{#if email}}
                     <tr>
                        <th scope="row">email</th>
                        <td>{{email}}</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>